body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}
.container {
    display: flex;
    height: 100vh;
}
.menu {
    width: 60px;
    background: linear-gradient(180deg, #2c3e50, #34495e);
    color: white;
    padding: 40px 0;
    position: fixed;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}
.menu a:hover {
    background-color: #1abc9c;
}
.content {
    margin-left: 60px;
    padding: 20px 20px 20px 40px;
    width: calc(100% - 60px);
    transition: margin-left 0.3s ease;
}
.section {
    min-height: 100vh;
    padding: 40px 20px;
}
.section:nth-child(even) {
    background-color: #ecf0f1;
}
.section:nth-child(odd) {
    background-color: #bdc3c7;
}
.tech-container, .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.tech-box, .project-box {
    padding: 20px;
    background-color: #fff;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #2c3e50, #34495e);
    animation: borderAnimation 3s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(180deg, #2c3e50, #34495e);
    }
    50% {
        border-image-source: linear-gradient(180deg, #1abc9c, #16a085);
    }
    100% {
        border-image-source: linear-gradient(180deg, #2c3e50, #34495e);
    }
}
.tech-box img, .project-box img {
    width: 50px;
    height: 50px;
}
.tech-box h3, .project-box h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.progress-bar {
    width: 100%;
    background-color: #ecf0f1;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}
.progress-bar div {
    height: 10px;
    background-color: #1abc9c;
}
.project-box img {
    width: 200px; /* Increase image size */
    height: 100px; /* Increase image size */
}
.project-box {
    padding: 50px 100px; /* Increase padding for larger divs */
    /* min-width: 300px;
    margin: 10px; */
}
.project-box button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.project-box button a {
    color: white;
    text-decoration: none;
}
.project-tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.project-tech-icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
/* CSS for the timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #1abc9c;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline-entry {
    /* padding: 20px; */
    /* padding-top: 50px; */
    position: relative;
    width: 50%;
}
.timeline-entry:nth-child(odd) {
    left: 0%;
}
.timeline-entry:nth-child(even) {
    left: 50%;
}
.timeline-entry::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #1abc9c;
    border: 4px solid #FFF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.timeline-entry:nth-child(even)::after {
    left: -17px;
}
.timeline-entry-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.timeline-entry h3 {
    margin-top: 0;
}
.timeline-entry p {
    margin: 10px 0;
}
/* .imagenPortada{
    width: 100px;
} */
.portada{
    display: grid;
    justify-items: center;
    align-items: center;
}
.contPortada{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
@media (max-width: 750px) {
    .contPortada{
    grid-template-columns: 1fr;
    }
}
/* @media (max-width: 500px) {
    .imagenPortada{
    width: 10px;
}
} */
.izq{
    display: grid;
    justify-items: center;
    align-items: center;

}   
.dch{
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}
ul{
    text-align: justify;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.imagenPortada{
    width: 300px;
}
@media (max-width: 500px) {
    .imagenPortada{
    width: 200px;
    }
    .timeline-entry p {
        margin: 0px 0;
    }
    .timeline-entry-content {
        padding: auto;
    }
}
@media (max-width: 430px) {
    .timeline-entry-content {
        padding: auto;
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .timeline-entry-content {
        font-size: 10px;
    }
}